<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/layout}" xmlns:th="http://www.w3.org/1999/xhtml">

<div class="container" layout:fragment="container">
    <form action="#" th:action="@{/postcategories/create}" th:object="${model}" method="post">
        <div class="form-horizontal">
            <hr/>
            <div class="text-danger"></div>
            <div class="form-group">
                <label class="col-md-2 control-label">Name</label>
                <div class="col-md-10">
                    <input id="Title" th:field="*{Name}" class="form-control"/>
                    <span class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="btn btn-default"/>
                </div>
            </div>
        </div>
    </form>
</div>
</div>
</html>